<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"/>
    <link rel="stylesheet" href="styles.css"/>
  </head>
  <body>
    <div id="app">
      <nav></nav>
      <main>
        <div class="side-nav">
          <ul>
            <li class="niveaus" v-for="niveau in niveaus"> <a class="niveau" v-bind:data-id="niveau.id">{{niveau.name}}<span><i class="fas fa-chevron-down"></i></span></a>
              <ul>
                <li class="onderwerpen" v-for="onderwerp in niveau.onderwerpen"> <a class="onderwerp menu-item" v-bind:data-id="onderwerp.id">{{onderwerp.name}}<span><i class="fas fa-chevron-down"></i></span></a>
                  <ul>
                    <li class="level" v-for="level in onderwerp.accenten"><a class="accent menu-item" v-for="accent in level" v-bind:data-id="accent.id">{{accent.name}}</a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="content-box"></div>
      </main>
    </div>
    <script src="main-dist.js"></script>
  </body>
</html>